*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.lefthook/
.DS_Store
lefthook-local.yml
/.signing/
/build
/captures
.externalNativeBuild
.cxx
local.properties
signing.properties
